@model IEnumerable<DataLayer.ViewModels.FilmViewModel>

<link rel="stylesheet" href="~/css/Shared/FilmPanel.css" />

<div id="filmsPanel">

    @foreach (var film in Model)
    {
        <div class="film">

            <a class="filmImage" asp-controller="Film" asp-action="ShowFilmDetails" asp-route-guid=@film.Guid>
                @{
                    if (@film.Poster != null)
                    {
                        <img src="@film.Poster" />
                    }
                    else
                    {
                        <img />
                    }
                }
            </a>

            <div class="filmData">
                <p class="filmName">@film.Name</p>
                <p class="filmDirector">@film.Director</p>
            </div>
        </div>
    }
</div>
