#film {
    display: flex;
    /*background-color: antiquewhite;*/
    flex-direction: column;
    border: lightblue;
}

#filmImageAndData {
    display: flex;
    /*background-color: lightblue;*/
    flex-direction: row;
}

#filmImage {
    width: 300px;
    height: 450px;
    /*background-color: cadetblue;*/
}

    #filmImage img {
        width: 300px;
        height: 450px;
    }

#filmData {
    display: flex;
    /*background-color: darkgoldenrod;*/
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 1.3em;
    margin-left: 30px;
}

#filmDataHeader {
    display: flex;
    /*background-color: cornflowerblue;*/
    flex-direction: column;
    line-height: 1.9em
}

#filmDataDetail {
    display: flex;
    /*background-color: chocolate;*/
    flex-direction: row;
    font-size: 0.9em;
    line-height: 1.5em;
}

#filmDataDetailName {
    display: flex;
    min-width: 300px;
    height: 100%;
    /*background-color: darkkhaki;*/
    flex-direction: column;
    color: gray
}

#filmDataDetailInfo {
    display: flex;
    /*background-color: goldenrod;*/
    flex-direction: column;
}

#filmDescription {
    display: flex;
    font-size: 1.2em;
    line-height: 1.3em;
    margin: 30px;
    margin-left: 0px;
    margin-top: 10px;
    /*background-color: lightyellow;*/
}

#filmName {
    font-size: 1.5em;
    font-weight: bold;
}

#filmAuthor {
    font-size: 1.2em;
}

#film a {
    display: flex;
    width: 180px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI';
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    padding: 5px;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px
}
