#UpdateFilmForm {
    display: flex;
    flex-direction: column;
    /*padding-right: 70px;*/
    padding-left: 20px;
    font-size: 1.1em;
}

.InputDiv {
    display: flex;
    flex-direction: column;
}

#UpdateFilmForm h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}

#UpdateFilmForm input {
    width: 400px;
    font-size: 1.3em;
    margin: 10px;
    margin-right: 0;
    /*margin-left: 1px;*/
}

#UpdateFilmForm textarea {
    width: 400px;
    font-size: 1.3em;
    margin: 10px;
    margin-right: 0;
    /*margin-left: 1px;*/
    resize: none;
}

#UpdateFilmForm a {
    text-decoration: underline;
    color: royalblue;
}

#UpdateFilmForm span {
    color: red;
    padding-left: 10px;
    padding-bottom: 10px;
}

.Errors {
    color: red;
    font-size: 1.0em;
    margin: 10px;
}

#UpdateFilmButtonContainer {
    display: flex;
    justify-content: flex-end
}

#UpdateFilmButton {
    display: flex;
    width: 250px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI';
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
    justify-content: center;
}
