<link rel="stylesheet" href="~/css/Account/SignUp.css" />

@model DataLayer.ViewModels.SignUpViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<div id="SignUpForm">
    <h2>Регистрация пользователя</h2>

    <form asp-controller="Account" asp-action="SignUp" method="post" style="margin-top: 2em;">
        <div>
            <div class="InputDiv">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div>
            <div class="InputDiv">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName">
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>
        <div>
            <div class="InputDiv">
                <label asp-for="LastName"></label>
                <input asp-for="LastName">
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
        <div>
            <div class="InputDiv">
                <label asp-for="MiddleName"></label>
                <input asp-for="MiddleName">
                <span asp-validation-for="MiddleName"></span>
            </div>
        </div>
        <div>
            <div class="InputDiv">
                <label asp-for="Password"></label>
                <input asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div>
            <div class="InputDiv">
                <label asp-for="PasswordConfirm"></label>
                <input asp-for="PasswordConfirm">
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        <div id="SignUpButtonContainer">
            <button id="SignUpButton" type="submit">Зарегистрироваться</button>
        </div>
    </form>
</div>