
<link rel="stylesheet" href="~/css/Account/SignIn.css" />

@model DataLayer.ViewModels.SignInViewModel
@{
    ViewData["Title"] = "Авторизация";
}

<div id="SignInForm">
    <h2>Авторизация</h2>

    <form asp-controller="Account" asp-action="SignIn" asp-route-returnUrl="@Model.ReturnUrl" method="post" style="margin-top: 2em;">
        <div>
            <div class="InputDiv">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class="InputDiv">
                <label asp-for="Password"></label>
                <input asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div id="RememberCheckbox">
                <input asp-for="RememberMe">
                <label asp-for="RememberMe"></label>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" id="Errors"></div>
        <div id="SignInButtonContainer">
            <button type="submit" id="SignInButton">Войти</button>
        </div>
    </form>
</div>