@model IEnumerable<DataLayer.ViewModels.FilmViewModel>

<link rel="stylesheet" href="~/css/Home/Index.css" />
<script src="~/tp/Home/Index.js" asp-append-version="true"></script>

<div id="mainPanel">

    @(await Html.PartialAsync("_FilmPanelPartial", Model))
    @(await Html.PartialAsync("_PaginationPartial", new ViewDataDictionary(ViewData)))

</div>